.container {
  margin: 8rem;
}

.counter {
  background-color: teal;
  color: white;
  text-align: center;
  margin: 6rem auto;
  padding: 1rem;
  max-width: 20vw;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons button {
  margin: 0 1rem;
  background-color: teal;
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1rem;
  min-width: 10rem;
  border-radius: 5px;
}
